
.btn-adt-to-cart {
    padding: 12px 24px;
    background-color: rgb(0, 42, 105);
    width: 100%;
    margin-top: 16px;
    font-weight: bold;
    color: white;
    border-radius: 7px;
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
    animation: pulse 1.75s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}
